@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

body{
    border: 0;
    margin: 0;
    background-color: #bbb;
}

h1{
    font-family: 'Poppins', sans-serif;
}

.wrap{
    margin: auto;
    margin-top: 5vh;
    width: 20vw;
    height: 80vh;
    overflow: auto;
    background-color: #fefefe;
    box-shadow: 5px 1px 15px rgba(0000, 0000, 0000, 0.3);
    border-radius: 2em;
}

nav{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: thin #ff5252 solid;
}

nav h1{
    margin: .5em 1em;
}

nav i{
    font-size: 1.5em;
    text-align: center;
    margin: auto 1.25rem;
}


.stories{
    margin-top: 1em;
}

.top-story{
    margin: 1em;
    position: relative;
    border-radius: 2em;
    margin: auto;
    width: 80%;
}

.top-story img{
    filter: brightness(80%);
    border-radius: 2em;
    height: 100%;
    width: 100%;
}

.top-story h1{
    position: absolute;
    font-size: 1.5em;
    bottom: 3rem;
    left: 1rem;
    color: white;
}

.top-story button{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    bottom: 2rem;
    right: 2rem;
    background-color:  	#ff5252;
    border: thin #ff5252 solid;
    border-radius: 1rem;
    padding: .25rem 1rem;
    font-size: .75em;
}

.story{
    display: flex;
    width: 90%;
    margin: 2em auto;
    position: relative;
}

.story img{
    flex: 0 0 0;
    max-width: 5em;
    min-width: 5em;
    min-height: 5em;
    max-height: 5em;
    border-radius: 1em;
    object-fit: cover;
}

.story .content h1{
    font-size: .75em;
    font-weight: 500;
    margin: 0 1rem;
}

.content a{
    text-decoration: none;
    color: black;
}


.search-container{
    display: flex;
    justify-content: space-between;
}


.search{
    margin-bottom: 2em;
    width: 40%;
    position: relative;
    border-radius: 0 0 0 1em;
    border: thin #ff5252 solid;
    border-top: none;
    border-right: none;
}

#search-bar{
    width: 100%;
    box-sizing: border-box;
    padding: .5em 1em;
    color: black;
    border: none;
    border-radius: 0 0 0 2em;
    outline: none;
}

button{
    position: absolute;
    right: 0;
    top: 0;
    padding: .5em 1.25em;
    border: none;
    background-color: transparent;
}

.content .category{
    box-shadow: 1px 1px 5px rgba(0000, 0000, 0000, 0.3);
    text-align: right;
    padding: .1rem .5rem;
    border: 1px #ff5252 solid;
    position: absolute;
    color: white;
    right: 0;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
    background-color: #ff5252;
    font-size: .5em;
}
